@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}


* {
    margin: 0px;
    padding: 0px;
}

/* Usando variáveis no CSS */
/*
    Caso você precise trocar a paleta de cores você só troca o valor das variáveis.
*/

/*
    Vamos começar a abordar responsividade, o site se adapatar ao tamanho da tela onde está sendo exibido.
*/

:root {
    --cor0: #c5edd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue';
    --font-android: 'Android';
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

a.externa::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
    font-weight: normal;
}

header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    font-weight: normal;
    color: white;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.342);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .3s; /* Transição do estado normal do link para esse outro estado */
}

nav > a:hover {
    color: var(--cor5);
    background-color: var(--cor3);
}

main {
    background-color: white;
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    color: var(--cor4);
    font-family: var(--font-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

main p {   /* "main p" faz alterações nos parágrafos que estão dentro de p em qualquer nível, mesmo que esteja dentro de outra div*/
            /* "main > p" faz alterações só nos parágrafos que estão dentro do main diretamente e não naqueles dentro de outra div */
    text-indent: 30px;
    text-align: justify;
    margin: 15px 0px;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 4px;
}

main a {
    color: var(--cor5);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 4px;
    background-color: var(--cor1);
}

main a:hover {
    color: var(--cor4);
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    padding: 10px;
    background-color: var(--cor1);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.445);
}

aside >h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: "\2705\00A0\00A0";  /* Não é compatível com todos os navegadores */
    list-style-position: inside;
    padding: 20px;
    columns: 2;
}


footer {
    background-color: var(--cor5);
    color: white;
}

footer > p {
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}